<div class="userProfile">
    <div class="wrapper">
        <div class="userProfile-container">
            <div class="userProfile__infos">
                <div class="profilePicture">
                    <img src="assets/{{user.profilePicture}}">
                </div>
                <div class="infos">
                    <h3>{{user.userName}}</h3>
                    <div class="stats">
                        <p>
                            <span class="bold">3</span> publications
                        </p>
                        <p>
                            <span class="bold">34</span> abonnés
                        </p>
                        <p>
                            <span class="bold">62</span> abonnements
                        </p>
                    </div>
                </div>
            </div>
            <div class="userProfile__posts">
                
            </div>
        </div>
    </div>
</div>
